<h3><%= __('Post selection') %></h3>
<div class="mailpoet_settings_posts_selection"></div>
<div class="mailpoet_settings_posts_display_options mailpoet_closed"></div>
<div class="mailpoet_settings_posts_controls">
  <div class="mailpoet_form_field">
      <a href="javascript:;" class="mailpoet_settings_posts_show_post_selection mailpoet_hidden"><%= __('Back to selection') %></a>
      <a href="javascript:;" class="mailpoet_settings_posts_show_display_options"><%= __('Display options') %></a>
  </div>
  <input type="button" class="button button-primary mailpoet_settings_posts_insert_selected" value="<%= __('Insert selected') | escape('html_attr') %>" />
</div>
