<div class="mailpoet_settings_posts_selection_controls">
    <div class="mailpoet_post_selection_filter_row">
        <input type="text" name="" class="mailpoet_input mailpoet_input_full mailpoet_posts_search_term" value="{{model.search}}" placeholder="<%= __('Search...') %>" />
    </div>
    <div class="mailpoet_post_selection_filter_row"><select name="mailpoet_posts_content_type" class="mailpoet_select mailpoet_select_half_width mailpoet_settings_posts_content_type">
            <option value="post" {{#ifCond model.contentType '==' 'post'}}SELECTED{{/ifCond}}><%= __('Posts') %></option>
            <option value="page" {{#ifCond model.contentType '==' 'page'}}SELECTED{{/ifCond}}><%= __('Pages') %></option>
            <option value="mailpoet_page" {{#ifCond model.contentType '==' 'mailpoet_page'}}SELECTED{{/ifCond}}><%= __('MailPoet pages') %></option>
        </select><select class="mailpoet_select mailpoet_select_half_width mailpoet_posts_post_status">
            <option value="publish" {{#ifCond model.postStatus '==' 'publish'}}SELECTED{{/ifCond}}><%= __('Published') %></option>
            <option value="future" {{#ifCond model.postStatus '==' 'future'}}SELECTED{{/ifCond}}><%= __('Scheduled') %></option>
            <option value="draft" {{#ifCond model.postStatus '==' 'draft'}}SELECTED{{/ifCond}}><%= __('Draft') %></option>
            <option value="pending" {{#ifCond model.postStatus '==' 'pending'}}SELECTED{{/ifCond}}><%= __('Pending Review') %></option>
            <option value="private" {{#ifCond model.postStatus '==' 'private'}}SELECTED{{/ifCond}}><%= __('Private') %></option>
        </select></div>
    <div class="mailpoet_post_selection_filter_row">
        <select class="mailpoet_select mailpoet_posts_categories_and_tags" multiple="multiple">
          {{#each model.terms}}
            <option value="{{ id }}" selected="selected">{{ text }}</option>
          {{/each}}
        </select>
    </div>
</div>
<div class="mailpoet_post_selection_container">
</div>
<div class="mailpoet_post_selection_loading" style="visibility: hidden;">
  <%= __('Loading posts...') %>
</div>
