<div class="mailpoet_settings_posts_single_post">
    <label>
        <input id="mailpoet_select_post_{{ index }}" class="mailpoet_select_post_checkbox" type="checkbox" class="checkbox" value="" name="post_selection">
        {{#ellipsis model.post_title 40 '...'}}{{/ellipsis}}
    </label>
</div>
