@charset "UTF-8";
.com-apps-container .badge {
  margin: 1px;
}

.com-apps-container .badge.badge-success {
  background-color: var(--success);
}

.com-apps-container .badge.badge-secondary {
  background-color: var(--secondary);
}

.com-apps-container .badge.badge-danger {
  background-color: var(--danger);
}

.com-apps-container .badge.badge-warning {
  background-color: var(--warning);
}

.com-apps-container .fader {
  text-align: center;
  background-image: linear-gradient(#fff0 70%, #fff 95%);
  width: 100%;
  height: 100%;
  margin-top: 5px;
  position: absolute;
  top: 0;
  left: 0;
}

.com-apps-container .com-apps-sidebar .nav .nav {
  padding-inline-start: 15px;
}

.com-apps-container .com-apps-sidebar a:hover, .com-apps-container .com-apps-sidebar a.active {
  color: #fff;
  background-color: var(--btn-primary-bg);
  text-decoration: none;
}

.com-apps-container .grid-container .card {
  height: 400px;
  margin-bottom: 2rem;
}

.com-apps-container .grid-container .card:hover {
  background-color: var(--gray-200);
}

.com-apps-container .grid-container .card-img, .com-apps-container .grid-container .card-img-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  height: 6rem;
  overflow: hidden;
}

.com-apps-container .grid-container .card-text {
  height: 160px;
  overflow: hidden;
}

.com-apps-container .grid-container .card-body {
  cursor: pointer;
  padding: .5rem;
}

.com-apps-container .list-container {
  box-sizing: border-box;
}

.com-apps-container .list-container .fader {
  background-image: linear-gradient(#fff0 0%, #fff 25%);
}

.com-apps-container .list-container .list-group-item {
  margin-bottom: 10px;
}

.com-apps-container .list-container .list-group-item:hover {
  background-color: #f8f8f8;
}

.com-apps-container .list-container .list-group-item .row {
  cursor: pointer;
}

.com-apps-container .item-view {
  margin-top: 3rem;
}

.com-apps-container .item-view a[target="_blank"] span.icon-download, .com-apps-container .item-view a[target="_blank"] span.icon-list, .com-apps-container .item-view a[target="_blank"] span.icon-share-alt {
  display: none;
}

.com-apps-container .form-row {
  display: flex;
}

.com-apps-container .form-row .col-md:first-child {
  margin-inline-end: .8rem;
}

.com-apps-container .form-row .input-group .input-group-append button#search-extensions {
  border-start-start-radius: 0;
  border-end-start-radius: 0;
}

.com-apps-container .form-row .input-group .input-group-append button#search-reset {
  margin-inline-start: .8rem;
}

.ifw-busy {
  overflow: hidden;
}

.ifw-loading-container {
  z-index: 1000;
  opacity: .95;
  background: #ffffffb3 url("../../system/images/ajax-loader.gif?v=144b8c") 50% 10px no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
