<p class="clearfix">
  <label><%= __('Is this field mandatory?') %></label>
  <span class="group">
    <label>
      <input type="radio"
        class="mailpoet_radio"
        name="params[required]"
        value="1"
        {{#if params.required}}checked="checked"{{/if}} /><%= __('Yes') %>
    </label>
    <label>
      <input
        class="mailpoet_radio"
        type="radio"
        name="params[required]"
        value=""
        {{#unless params.required}}checked="checked"{{/unless}} /><%= __('No') %>
    </label>
  </span>
</p>