{{#each segments}}
<li data-segment="{{ id }}">
  <label>
    <input class="mailpoet_segment_id" type="hidden" value="{{ id }}" />
    <input class="mailpoet_is_checked" type="checkbox" value="1"
      {{#ifCond is_checked '>' 0}}checked="checked"{{/ifCond}} />
    <input class="mailpoet_segment_name" type="hidden" value="{{ name }}" />
    {{ name }}
  </label>
  <a class="remove" href="javascript:;"><%= __('Remove') %></a>
  <a class="handle" href="javascript:;"><%= __('Move') %></a>
</li>
{{/each}}