<p class="clearfix">
  <label><%= __('Validate for:') %></label>
  <select name="params[validate]">
    <option {{#ifCond params.validate '==' ''}}selected="selected"{{/ifCond}}
      value="">
      <%= __('Nothing') %>
    </option>

    <option {{#ifCond params.validate '==' 'number'}}selected="selected"{{/ifCond}}
      value="number">
      <%= __('Numbers only') %>
    </option>

    <option {{#ifCond params.validate '==' 'alphanum'}}selected="selected"{{/ifCond}}
      value="alphanum">
      <%= __('Alphanumerical') %>
    </option>

    <option {{#ifCond params.validate '==' 'phone'}}selected="selected"{{/ifCond}}
      value="phone">
      <%= __('Phone number, (+,-,#,(,) and spaces allowed)') %>
    </option>
  </select>
</p>