<li class="clearfix">
  {{#ifCond type 'in' 'radio,select'}}
    <input class="is_checked radio" type="radio" name=""
    {{#if is_checked}}checked="checked"{{/if}} value="1"/>
  {{else}}
    <input class="is_checked checkbox" type="checkbox" name=""
    {{#if is_checked}}checked="checked"{{/if}} value="1"/>
  {{/ifCond}}

    <input
      type="text"
      name=""
      class="value"
      value="{{ value }}"
      data-parsley-errors-messages-disabled="true"
      data-parsley-required="true"
    />

    {{#ifCond type 'in' 'radio,select'}}
      <a class="remove" href="javascript:;"><%= __('Remove') %></a>
    {{/ifCond}}
</li>