<div class="mailpoet_tools"></div>
<div class="mailpoet_content mailpoet_text_content" data-automation-id="text_block_in_editor">
    {{{ model.text }}}
</div>
<div class="mailpoet_block_highlight"></div>
