@charset "UTF-8";
#frame form {
  text-align: right;
}

label {
  float: right;
}

fieldset.input p {
  clear: right;
}

.alert {
  text-align: right;
  padding: 8px 8px 25px 14px;
}

.alert .close {
  float: left;
  left: -20px;
  right: 0;
}
