.customize-control-ast-selector .ast-alignment-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.customize-control-ast-selector .ast-alignment-inner-wrap,
.customize-control-ast-selector .ast-selector-responsive-wrap {
    display: none;
}

.customize-control-ast-selector .ast-alignment-wrapper .ast-alignment-inner-wrap.active {
    flex: 1 1 auto;
    display: flex;
}
.customize-control-ast-selector .components-button.has-icon {
    padding: 6px;
    min-width: 36px;
    justify-content: center;
}
.ast-alignment-inner-wrap .components-button {
    white-space: normal;
    color: var(--ast-customizer-color-5);
    text-decoration: none;
    text-shadow: none;
    outline: unset;
    border: 1px solid var(--ast-customizer-color-7);
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    border-radius: unset;
    transition: none;
    font-weight: normal;
}
.ast-alignment-inner-wrap.active .components-button.is-primary {
    color: var(--ast-customizer-color-10);
    background: var(--ast-customizer-color-1);
}
.customize-control-ast-selector .ast-alignment-wrapper .ast-alignment-inner-wrap.active .components-button:not(.is-primary):hover {
    color: var(--ast-customizer-color-5) !important;
}

.customize-control-ast-selector .components-button .ahfb-icon-set svg {
    width: 16px;
    height: 16px;
    fill: var(--ast-customizer-color-8);
}
.customize-control-ast-selector .components-button.is-primary .ahfb-icon-set svg,
.customize-control-ast-selector .components-button.is-primary .ahfb-icon-set svg circle,
.customize-control-ast-selector .components-button.is-primary .ahfb-icon-set svg path:not(.ast-hf-account-unfill) {
    fill: var(--ast-customizer-color-10);
}

.customize-control-ast-selector .ast-alignment-inner-wrap:first-child .components-button {
    border-radius: 3px 0px 0px 3px;
}
.customize-control-ast-selector .ast-alignment-inner-wrap:last-child .components-button {
    border-radius: 0px 3px 3px 0px;
}

.ast-alignment-wrapper .ast-alignment-inner-wrap:not(:first-child):not(:last-child) .components-button{
    border-right: none;
}

.customize-control-ast-selector .ast-alignment-inner-wrap .components-button {
    border-radius: unset;
    font-size: 12px;
    padding: 9px 4px 10px;
}
.customize-control-ast-selector .ast-selector-responsive-wrap.active {
    display: flex;
    flex: 1 1 0;
}
.customize-control-ast-selector .ast-responsive-btns {
    position: relative;
    left: 6px;
    top: 1px;
}
.customize-control-ast-selector .ast-alignment-inner-wrap .components-button:focus:not(:disabled) {
    box-shadow: none;
}
.customize-control-ast-selector .components-button .ahfb-icon-set {
    display: flex;
}
.customize-control-ast-selector {
    margin-bottom: 1px;
}

.ast-alignment-inner-wrap.active button.components-button.is-primary {
    border-color: var(--ast-customizer-color-3);
}
