.ast-btn-preset-wrap {
	display: grid;
    grid-template-columns: repeat(3, 1fr);
	gap: 12px;
}

.ast-btn-preset-wrap .ast-btn-style-item{
	cursor: pointer;
}

.ast-btn-preset-wrap .ast-btn-style-item svg{
	fill: #646970;
}

.ast-btn-preset-wrap .ast-btn-style-item svg:hover{
	fill: #565b62;
}

.ast-btn-preset-wrap .ast-btn-style-item.active svg,
.ast-btn-preset-wrap .ast-btn-style-item.active svg:hover{
	fill: #2271b1;
}

.ast-reset-btn-preset-wrap{
	position: absolute;
    display: inline-block;
    line-height: 1;
    right: 0;
	top: 0;
}
.ast-reset-btn-preset-wrap .components-button.is-secondary,
.ast-reset-btn-preset-wrap .components-button.is-secondary:hover{
	box-shadow: none !important;
	background: transparent;
	color: var(--ast-customizer-color-1);
}

