/* Global customizer color palette */

:root {
    --ast-customizer-color-1:#0284c7; /* active color */
    --ast-customizer-color-2:#0ea5e9; /* active focus color */
    --ast-customizer-color-3:#2271b1; /* active color border */
    --ast-customizer-color-4:#1e293b; /* title / heading */
    --ast-customizer-color-5:#334155; /* input text color */
    --ast-customizer-color-6:#9CA3AF;  /* Sub text color */
    --ast-customizer-color-7:#D1D5DB;  /* border color / outline / grey background*/
    --ast-customizer-color-8:#4B5563;  /* icon color / Toggle color*/
    --ast-customizer-color-9:#fff;  /* background color */
    --ast-customizer-color-10: #fff; /* text invert / Icon invert */
    --ast-customizer-color-11: #F5F5F5; /* alt background*/
    --ast-customizer-color-12: #1e293b; /* alt background 2*/
    --ast-customizer-color-13: #F3F4F6; /* alt background 3*/
    --ast-customizer-color-14: #cc1818; /* danger color*/
}
