.customize-control-ast-description .ast-description {
  font-style: italic;
  color: #9CA3AF;
  font-size: 11px;
  line-height: 16px;
  font-weight: 400;
  text-wrap: wrap;
  display: inline-block;
}

.customize-control-ast-description a.button {
  margin-top: 10px;
  font-style: normal;
}

.customize-control-ast-description p {
  margin: 0;
  cursor: initial;
  font-size: 11px;
  line-height: 16px;
  font-weight: 400;
}

.customize-control .customize-control-description {
	display: none;
}
