span.customize-control-title.ast-group-section-title {
    margin-bottom: 4px;
    font-weight: 600;
}
.ast-top-divider.customize-control-ast-group-title .ast-reset-btn-preset-wrap {
    top: 24px;
}
.customize-control-ast-group-title .ast-responsive-btns {
	margin-left: 5px;
    position: relative;
    top: 3px;
}
