.ast-field-settings-wrap .customize-control-ast-heading {
  margin: 0px 0 15px 0;
}

.customize-control-ast-heading {
  margin-top: 25px;
  margin-bottom: 0;
}

.customize-control-ast-heading .ast-heading-wrapper {
  margin: 0 -24px;
}

.customize-control-ast-heading .customize-control-title {
  display: block;
  padding: 15px 24px;
  margin: 0;
  border-width: 1px 0;
  border-style: solid;
  border-color: var(--ast-customizer-color-7);
  background-color: var(--ast-customizer-color-9);
  color: var(--ast-customizer-color-4);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 1;
  text-transform: uppercase !important;
}

.customize-control-ast-heading .customize-control-caption {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: 0;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 1px;
}

.customize-control-ast-heading .customize-control-description {
  margin-top: 10px;
}

.ast-heading-wrapper label {
  cursor: default;
}

.customize-control > label {
  cursor: default;
}

.customize-control .ast-spacing-input-item-link, .customize-control .ast-border-input-item-link {
  cursor: pointer;
}

.customize-control.customize-control-ast-slider label {
  cursor: pointer;
}

.customize-control.customize-control-ast-slider label .wrapper input[type=range] {
  cursor: pointer;
}

.customize-control .ast-control-reduce-top-space {
	margin-top: -15px;
}
