.ast-adv-toggle-icon {
  right: 2px;
  position: absolute;
  width: 18px;
  height: 18px;
  font-size: 18px;
  border-radius: 2px;
  padding: 4px;
  color: var(--ast-customizer-color-8);
  background: var(--ast-customizer-color-9);
  cursor: pointer;
}

.ast-adv-toggle-icon:hover {
  color: var(--ast-customizer-color-1);
}

.ast-adv-toggle-icon:before {
  content: "\f464";
}

.ast-adv-toggle-icon.open:before {
  content: "\f158";
}

.ast-field-settings-modal {
  position: absolute;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  left: 0;
  right: 0;
  z-index: 8;
  background-color: #fff;
}

.customize-control-ast-color-palette .ast-field-settings-modal {
	z-index: 11;
}

.ast-field-settings-modal .customize-control-ast-divider:first-child {
  margin-top: 15px;
}

.ast-field-settings-wrap {
  width: 100%;
}

.ast-group-tabs, .ast-tab-content {
  position: relative;
}

.ast-group-list {
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}

.ast-group-list:before, .ast-group-list:after {
  content: "";
  display: table;
  border-collapse: collapse;
}

/* Tab anchor color */
.ui-tabs-anchor {
  float: left;
  padding: .5em 0.5em;
  color: #555d66;
  text-decoration: none;
}

.ui-state-active .ui-tabs-anchor {
  color: #ffffff;
}

.ui-tabs-anchor:hover {
  color: #555d66;
}

.ui-state-active .ui-tabs-anchor:hover {
  color: #ffffff;
}

.ast-group-tabs .ui-widget-content {
  overflow: hidden;
  /*padding-top: 15px;*/
}

.ast-group-tabs .ui-widget-content.iris-slider-offset, .ast-group-tabs .ui-widget-content.iris-slider-offset-alpha {
  overflow: inherit;
}

.ast-fields-wrap {
  overflow: hidden;
}

.ast-field-settings-wrap {
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 3px;
  background-color: #fff;
}

.ast-field-settings-wrap .ast-field-settings-modal {
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.ast-field-settings-modal::before {
  content: '';
  position: absolute;
  top: -17px;
  right: 8px;
  border: 9px solid transparent;
  border-bottom-color: #fff;
  pointer-events: none;
}

.ast-group-tabs .ui-tabs-nav {
  display: flex;
  padding: 15px 15px 0 15px;
}

.ast-group-tabs .ui-tabs-nav .ui-corner-top {
  align-items: center;
  flex: 1 1 auto;
  justify-content: center;
  margin: 0 0;
  padding: 0;
  border: 1px solid #ccc;
  transition: background-color 140ms linear;
}

.ast-group-tabs .ui-tabs-nav .ui-corner-top:first-child {
  border-radius: 3px 0px 0px 3px;
}

.ast-group-tabs .ui-tabs-nav .ui-corner-top:last-child {
  border-radius: 0px 3px 3px 0px;
}

.ast-group-tabs .ui-tabs-nav .ui-corner-top .ui-tabs-anchor {
  width: 100%;
  text-align: center;
  padding: 2px 4px;
  padding-left: 0;
  padding-right: 0;
  outline: none;
}

.ast-group-tabs ul.ast-group-list .ui-corner-top .ui-tabs-anchor:focus {
  box-shadow: none;
}

.ast-group-tabs .ui-tabs-nav {
  border: none;
}

.ast-group-tabs ul.ast-group-list .ui-corner-top.ui-state-active {
  background-color: #0185BA;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.ast-group-tabs .ui-tabs-nav {
  overflow: visible;
}

.ast-group-tabs ul.ast-group-list .ui-corner-top:not(:first-child) {
  border-left-width: 0;
}

/* Buttons */
.wp-core-ui .ast-field-settings-modal .background-image-upload .button {
  font-size: 11px;
}

/* Popup params padding */
.ast-field-settings-modal .customize-control {
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}
.ast-control-wrap .ast-color-picker-alpha {
    margin-left: -5px;
    margin-right: -5px;
}

.ast-field-settings-modal .customize-control:first-child {
  margin-top: 16px;
}

.ast-field-settings-modal .ui-tabs-nav .customize-control:first-child {
  margin-top: 0;
}

.ast-field-settings-modal .customize-control:last-child {
  padding-bottom: 16px;
}

.customize-control-ast-settings-group {
  line-height: 27px;
}

.customize-control-ast-settings-group .customize-control-title {
  margin-bottom: 0;
}

.customize-control-ast-settings-group .ast-field-settings-modal .customize-control-title {
  margin-bottom: 10px;
  font-size: 13px;
  margin-top: 3px;
}

.customize-control-ast-settings-group .ast-field-settings-modal .customize-control-ast-responsive-slider .ast-responsive-units,
.customize-control-ast-settings-group .ast-field-settings-modal .customize-control-ast-responsive-slider .ast-range-unit,
.customize-control-ast-settings-group .ast-field-settings-modal .customize-control-ast-slider .ast-range-unit,
.customize-control-ast-settings-group .ast-field-settings-modal .customize-control-ast-slider .ast-range-unit {
  top: 6px;
}

.customize-control-ast-settings-group .ast-field-settings-modal .customize-control-ast-responsive-slider .ast-resp-slider-reset-wrap,
.customize-control-ast-settings-group .ast-field-settings-modal .customize-control-ast-slider .ast-resp-slider-reset-wrap {
  top: 3px;
}

.customize-control-ast-settings-group .ast-field-settings-modal .customize-control-ast-slider .ast-responsive-slider-btns,
.customize-control-ast-settings-group .ast-field-settings-modal .customize-control-ast-responsive-slider .ast-responsive-slider-btns {
  top: 2px;
}

#customize-control-headings-font-extras.ast-sub-top-dotted-divider {
  margin-top: 12px;
}

/**
 * Popover Tab Structure.
 */
.astra-popover-tabs {
  position: relative;
}

.astra-popover-tabs .components-tab-panel__tabs {
  display: flex;
  padding: 15px;
  border: none;
}

.astra-popover-tabs .components-tab-panel__tabs .components-tab-panel__tabs-item {
  color: #555d66;
  font-size: 13px;
  font-weight: 400;
  height: 35px;
  transition: unset;
  padding: 2px 4px;
  text-decoration: none;
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.astra-popover-tabs .components-tab-panel__tabs .components-tab-panel__tabs-item:active {
  box-shadow: unset;
}

.astra-popover-tabs .components-tab-panel__tabs .components-tab-panel__tabs-item:focus {
  box-shadow: unset;
}

.astra-popover-tabs [ID*="-image-view"] {
  padding: 15px;
  border: none;
}

.astra-popover-tabs .components-button {
  align-items: center;
  flex: 1 1 auto;
  justify-content: center;
  margin: 0 0;
  padding: 0;
  border: 1px solid #ccc;
  transition: background-color 140ms linear;
}

.astra-popover-tabs .components-tab-panel__tabs-item:first-child {
  border-radius: 3px 0px 0px 3px;
}

.astra-popover-tabs .components-tab-panel__tabs-item:last-child {
  border-radius: 0px 3px 3px 0px;
}

.astra-popover-tabs .components-tab-panel__tabs-item:not(:first-child) {
  border-left-width: 0;
}

.astra-popover-tabs .components-tab-panel__tabs-item.active-tab {
  background-color: #0185BA;
  color: #ffffff;
}

.astra-popover-tabs.astra-media-tab .components-tab-panel__tabs,
.astra-popover-tabs.astra-media-tab .components-tab-panel__tab-content {
  padding: 0;
}

.astra-popover-tabs.astra-media-tab .components-tab-panel__tabs-item.active-tab {
  border-color: var(--ast-customizer-color-3);
  background: var(--ast-customizer-color-1);
}

.astra-popover-tabs.astra-media-tab .components-tab-panel__tab-content .ast-social-icon-picker-label {
  text-align: left;
}

.astra-media-tab .astra-media-image {
  width: 100%;
  margin-bottom: 0;
}

.astra-media-tab .ast-media-btn {
  display: block;
  width: 100%;
  border: 1px dashed var(--ast-customizer-color-7);
  box-sizing: border-box;
  box-shadow: unset;
  padding: 9px 0;
  line-height: 1.6;
  text-decoration: none;
}

.astra-media-tab .ast-danger-btn {
  color: var(--ast-customizer-color-14);
  margin-top: 10px;
}

.astra-media-tab .ast-media-btn:hover {
  border-color: var(--ast-customizer-color-3);
}

.astra-media-tab .ast-danger-btn:hover {
  border-color: var(--ast-customizer-color-14);
}

.components-base-control.ast-text-control-input {
  margin-bottom: 16px;
}

.ast-payments-text-control-input .components-base-control__label {
  text-transform: none;
  color: #334155;
  font-size: 13px;
}

.components-base-control.ast-payments-text-control-input {
  margin-bottom: 20px;
}

.components-base-control.ast-text-control-input input {
  border-color: var(--ast-customizer-color-7);
  color: var(--ast-customizer-color-5);
}

.astra-popover-color .astra-popover-tabs .components-tab-panel__tabs button.components-tab-panel__tabs-item.active-tab:not(.is-primary):not(.is-tertiary):not(.is-link):hover {
  color: #fff;
}

.components-popover.astra-popover-color .components-popover__content {
  min-width: 310px;
  max-height: 60vh;
  padding: 0;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
}

.ast-field-settings-modal .components-popover.astra-popover-color .components-popover__content {
  min-width: 320px;
  min-height: 325px;
}

.ast-field-settings-modal .background-wrapper .components-popover.astra-popover-color .components-popover__content {
  min-height: 385px;
}

.ast-field-settings-modal .components-angle-picker-control .components-flex__block {
  min-width: auto;
}

.customize-control-ast-settings-group .customize-control-ast-slider .wrapper .ast-resp-slider-reset-wrap,
.customize-control-ast-settings-group .customize-control-ast-responsive-slider .wrapper .ast-resp-slider-reset-wrap {
  margin-top: 0;
}

/*
 * Divider compatibility CSS for setting group.
 */
.ast-top-divider.customize-control-ast-settings-group .ast-toggle-desc-wrap .ast-adv-toggle-icon {
    top: 23px;
}

/**
 * Responsive slider control inside settings-group, case: body-font, headings-font.
 */
 .ast-fields-wrap .customize-control-ast-responsive-slider .ast-slider-wrap > label,
 .ast-fields-wrap .customize-control-ast-selector .ast-slider-wrap > label {
    display: inline-block;
}

