.customize-control-ast-slider .wrapper {
  display: flex;
}

.customize-control-ast-slider .components-range-control {
  width: 100%;
}

.customize-control-ast-slider .ast-range-unit, .customize-control-ast-responsive-slider .wrapper .ast-range-unit {
  padding: 0 5px 0 0;
  font-size: 11px;
  line-height: 1em;
  font-weight: 500;
  align-self: auto;
  text-transform: uppercase;
}
.components-range-control__slider[type=range] {
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.components-range-control__slider[type=range]::-webkit-slider-runnable-track,
.components-range-control__slider[type=range]::-moz-range-track {
  content: '';
  height: 2px;
  pointer-events: none;
}
.components-range-control__slider[type=range]::-webkit-slider-thumb,
.components-range-control__slider[type=range]::-moz-range-thumb {
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 5px;
}
.customize-control-ast-slider .components-range-control__wrapper,
.customize-control-ast-responsive-slider .components-range-control__wrapper {
	margin-right: 0px;
}
.customize-control-ast-slider span[CLASS*="-ThumbWrapper"],
.customize-control-ast-responsive-slider span[CLASS*="-ThumbWrapper"] {
  height: 17px;
  width: 17px;
  top: 2px;
  margin-right: 0px;
}

.ast-top-divider.customize-control-ast-slider .ast-divider-title + .ast-slider-wrap .ast-resp-slider-reset-wrap {
    top: 68px;
}

.customize-control-ast-responsive-slider .ast-responsive-slider-btns {
  position: relative;
  top: -3px;
  left: -10px;
  display: inline-block;
}

.customize-control-ast-responsive-slider .ast-responsive-units {
  position: absolute;
  top: 4px;
  left: 15px;
  font-size: 11px;
  line-height: normal;
  padding-left: 5px;
  text-transform: uppercase;
  width: auto;
  display: none;
}

.customize-control-ast-responsive-slider .ast-responsive-units li.single-unit {
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 0;
  width: 16px;
  text-align: center;
  user-select: none;
  opacity: 0.6;
  cursor: pointer;
}

.customize-control-ast-responsive-slider .ast-responsive-units li.single-unit.active {
  opacity: 1;
  font-weight: 600;
  color: #0073aa;
  cursor: default;
}
.ast-field-settings-modal .ast-fields-wrap > .customize-control-ast-responsive-slider + .customize-control-ast-font {
    margin-top: 8px;
}
