<div class="mailpoet_tools"></div>
<div class="mailpoet_content">
    <div class="mailpoet_spacer" data-automation-id="spacer" style="height: {{ model.styles.block.height }}; background-color: {{ model.styles.block.backgroundColor }};">
        <div class="mailpoet_resize_handle_container">
            <div class="mailpoet_resize_handle" data-automation-id="spacer_resize_handle">
                <span class="mailpoet_resize_handle_text">{{ model.styles.block.height }}</span>
                <span class="mailpoet_resize_handle_icon"><%= source('newsletter/templates/svg/block-icons/spacer.svg') %></span>
            </div>
        </div>
    </div>
</div>
<div class="mailpoet_block_highlight"></div>
