<div class="mailpoet_tools"></div>
<div
    class="mailpoet_content mailpoet_social"
    data-automation-id="socialBlock"
    style="text-align: {{model.styles.block.textAlign}}"
>
</div>
<div class="mailpoet_block_highlight"></div>
