<h3><%= __('Select icons') %></h3>
<div class="mailpoet_form_field">
    <div class="mailpoet_form_field_title"><%= __('Alignment') %></div>
    <div class="mailpoet_form_field_radio_option">
        <label>
            <input type="radio" name="alignment" class="mailpoet_social_block_alignment" value="left" {{#ifCond model.styles.block.textAlign '===' 'left'}}CHECKED{{/ifCond}}/>
            <%= _x('Left', 'Visual alignment settings') %>
        </label>
    </div>
    <div class="mailpoet_form_field_radio_option">
        <label>
            <input type="radio" name="alignment" class="mailpoet_social_block_alignment" value="center" {{#ifCond model.styles.block.textAlign '===' 'center'}}CHECKED{{/ifCond}}/>
            <%= _x('Center', 'Visual alignment settings') %>
        </label>
    </div>
    <div class="mailpoet_form_field_radio_option">
        <label>
            <input type="radio" name="alignment" class="mailpoet_social_block_alignment" value="right" {{#ifCond model.styles.block.textAlign '===' 'right'}}CHECKED{{/ifCond}}/>
            <%= _x('Right', 'Visual alignment settings') %>
        </label>
    </div>
</div>

<hr>

<div id="mailpoet_social_icons_selection" class="mailpoet_form_field"></div>
<h3><%= __('Styles') %></h3>
<div id="mailpoet_social_icons_styles"></div>
<div class="mailpoet_form_field">
  <input type="button" class="button button-primary mailpoet_done_editing" data-automation-id="social_done_button" value="<%= __('Done') | escape('html_attr') %>" />
</div>
