<div id="mailpoet_social_icon_selector_contents"></div>
<input type="button" class="button button-secondary mailpoet_button_full mailpoet_add_social_icon" data-automation-id='social_select_another_network' value="<%= __('Add another social network') %>" />
