<div class="mailpoet_tools"></div>
<div class="mailpoet_content">
  <div class="mailpoet_automated_latest_content_block_overlay" data-automation-id="alc_overlay">
    <span class="mailpoet_overlay_message"><%= __('This is only a preview! Your subscribers will see your latest blog posts.') %></span>
  </div>
  <div class="mailpoet_automated_latest_content_block_posts" data-automation-id="alc_posts"></div>
</div>
<div class="mailpoet_block_highlight"></div>
