<div class="mailpoet_sidebar_region" id="mailpoet_editor_history"></div>
<div class="mailpoet_region mailpoet_content_region mailpoet_sidebar_region postbox {{#if isWoocommerceTransactional}} closed {{/if}}"></div>
<div class="mailpoet_region mailpoet_layout_region mailpoet_sidebar_region postbox closed"></div>
<div class="mailpoet_region mailpoet_styles_region mailpoet_sidebar_region postbox {{#if isWoocommerceTransactional}} {{else}} closed {{/if}}"></div>
<div class="mailpoet_region mailpoet_preview_region mailpoet_sidebar_region postbox closed{{#if isWoocommerceTransactional}}  mailpoet_hidden{{/if}}"></div>
