<% set currentDay = 'now' | date('d') | number_format %>
<select id="{{ id }}_days">
  <option value=""><%= __('Day') %></option>
  <% for day in 1..31 %>
    <option
    <% if(currentDay == day) %>
      {{#if params.is_default_today}}selected="selected"{{/if}}
    <% endif %>
    ><%= day %></option>
  <% endfor %>
</select>