<% set currentMonth = 'now'|date('n') %>
<select id="{{ id }}_months">
  <option value=""><%= __('Month') %></option>
  <% for month in 1..12 %>
    <option
      <% if(currentMonth == month) %>
      {{#if params.is_default_today}}selected="selected"{{/if}}
      <% endif %>
    >
    <%= month_names[month - 1] %>
    </option>
  <% endfor %>
</select>