<h3><%= __('Product selection') %></h3>
<div class="mailpoet_settings_products_selection"></div>
<div class="mailpoet_settings_products_display_options mailpoet_closed"></div>
<div class="mailpoet_settings_products_controls">
  <div class="mailpoet_form_field">
      <a href="javascript:;" class="mailpoet_settings_products_show_product_selection mailpoet_hidden"><%= __('Back to selection') %></a>
      <a href="javascript:;" class="mailpoet_settings_products_show_display_options"><%= __('Display options') %></a>
  </div>
  <div class="mailpoet_form_field">
    <input type="button" class="button button-primary mailpoet_settings_products_insert_selected" value="<%= __('Insert selected') | escape('html_attr') %>" />
  </div>
</div>
