<div class="mailpoet_settings_products_single_product">
    <label>
        <input id="mailpoet_select_product_{{ index }}" class="mailpoet_select_product_checkbox" type="checkbox" class="checkbox" value="" name="post_selection">
        {{#ellipsis model.post_title 40 '...'}}{{/ellipsis}}
    </label>
</div>
