<div class="mailpoet_tools"></div>
<div class="mailpoet_content mailpoet_unknown_block_fallback">
  <h2 class="mailpoet_unknown_block_fallback_heading"><%= __('Unsupported block type') %></h2>
  <p><%= __('"%s" block type is not supported and will not be included in the email. You can either delete this block, or enable a plugin that adds support for this block.') | format('{{blockType}}') %></p>
</div>
<div class="mailpoet_block_highlight"></div>
