<div class="mailpoet_widget_icon">
<%= source('newsletter/templates/svg/block-icons/text.svg') %>
</div>
<div class="mailpoet_widget_title"><%= _x('WooCommerce Email Heading', 'Name of a widget in the email editor. This widget is used to display WooCommerce messages (like ”Thanks for your order!”)') %></div>
