<div class="mailpoet_tools"></div>
<div class="mailpoet_abandoned_cart_content_block_overlay" data-automation-id="acc_overlay">
  <span class="mailpoet_overlay_message"><%= __('This is only a preview! Your customers will see the product(s) they left in their shopping cart.') %></span>
</div>
<div class="mailpoet_abandoned_cart_content_container"></div>
<div class="mailpoet_block_highlight"></div>
