<h3><%= __('Display options') %></h3>
<div class="mailpoet_settings_abandoned_cart_content_display_options"></div>
<div class="mailpoet_settings_abandoned_cart_content_controls">
  <div class="mailpoet_form_field">
    <input type="button" class="button button-primary mailpoet_done_editing" value="<%= __('Done') | escape('html_attr') %>" />
  </div>
</div>
